@font-face {
    font-family: 'apple';
    src: url('./fonts/NotoSansKR-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'apple';
    src: url('./fonts/NotoSansKR-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'appleE';
    src: url('./fonts/NotoSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'appleE';
    src: url('./fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


.App {
    font-family: 'apple', 'appleE', sans-serif !important;
}